h2{
				text-align: center;
				width: 100%;
				height: 45px;
				background: deepskyblue;
				color: white;
				line-height: 45px;
			}
			.btn{
				margin-left: 20%;
				padding-bottom: 1%;
				padding-top: 1%;
				padding-left: 8%;
				padding-right: 8%;
				float: left;
			}
			a{
				text-decoration: none;
			}