/**{
	margin: 0 auto;
}*/
a{
	text-decoration: none;
	color: white;
	font-size: 20px;
	display: flex;
	align-items: center;
	margin-left:2%; 
}
#nav{
	width: 100%;
	height: 60px;
	background: deepskyblue;
	top: 0;
	display: flex;
	flex: 1;

}
#nav h3{
	width: 66%;
	text-align: center;
	color: white;
}
#logins{
	width: 15%;
	
}
.form-horizontal{
	width: 100%;
}
ul li{
	list-style: none;
}
#footer{
	width: 100%;
	height: 60px;
	background: #e8ecf0;
	position: fixed;
	bottom: 0;
	color: grey;
}
#footer ul li:hover{
	color:deepskyblue !important;
}
#footer ul li span{
	font-size: 22px;
}
#footer ul{
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: space-around;
	text-align: center;
	align-content: center;
	align-items: center;
	padding: 0;
	font-size: 18px;
}

/*中间部分*/
main .list{
	width: 100%;
}
main .list-box{
	width: 100%;
	height: 80px;
	background:#fff; 
	margin-top: 15px;
	padding:10px;
	border-top: 1px solid #f5f5f5;
}

main .list-box div{
	float: left;
	margin-top: 10px;
}

main .one{
	width: 60px;
	height: 60px;
	background:green; 
	text-align: center;
	line-height: 60px;
	color: #fff;
	border-radius: 10px;
}

main .two{
	width: 70%;
	height: 40px;
	overflow:hidden; 
	text-overflow:ellipsis;
	display:-webkit-box; 
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2; 
	margin-left: 15px;
}

main .three{
	line-height: 50px;
}

.form-group{
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
.guan ul{
	width: 100%;
	margin: 0;
	padding: 0;
	background: grey;
}
.guan ul li{
	width: 100%;
	height: 50px;
	border-top:1px solid #f1f1f1;
	line-height: 50px; 
	background: white;
	font-size: 20px;
}
.guan ul li button{
	font-size: 20px;
	font-weight: bolder;
	color: deepskyblue;
	border: none;
}
#main{
	width: 100%;
}
#main ul {
	width: 100%;
	margin: 0;
	padding: 0;
}
#main ul li{
	width: 20%;
	border: none;
	border-radius: 15px;
	text-align: center;
	float: left;
	color: white;
	margin-left: 4%;
	margin-top: 2%;
}
.go_top{
	position: fixed;
	bottom: 100px;
	right: 20px;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	background: deepskyblue;
	border: none;
}
.go_top a{
	text-align: center;
	margin-left: 20px;
	text-decoration: none;
}

#lolo{
	font-size: 20px;
	font-weight: bolder;
	text-indent: 2em;
}